.inner {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
}
h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25;
  font-weight: bold;
}
